<!-- About-->
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">
			Spencer
			<span class="text-primary">Ferguson-Dryden</span>
		</h1>
		<div class="subheading mb-5">
			3398 Washington Street · San Francisco, CA 94118 · (415) 926-0150 ·
			<a href="mailto:sfergusond@email.com">sfergusond@gmail.com</a>
		</div>
		<p class="lead mb-2">Recent graduate with a passion for politics, international affairs, coding, and running.</p>
		<p class="lead mb-5">Currently working as a freelance web/software developer, specializing in full stack web development and/or data visualization.</p>
		<p class="lead mb-3 text-center">Have a project in mind?</p>
		<p class="text-center mb-5"><button type="button" class="btn btn-lg btn-primary shadow px-5 py-3" data-toggle="modal" data-target="#hireMe">HIRE ME!</button></p>
		<div class="social-icons text-center">
			<a class="social-icon" href="https://www.linkedin.com/in/spencer-ferguson-dryden-00319b128"><i class="fab fa-linkedin-in"></i></a>
			<a class="social-icon" href="https://github.com/sfergusond"><i class="fab fa-github"></i></a>
			<a class="social-icon" href="https://www.facebook.com/spencer.fd.9/"><i class="fab fa-facebook-f"></i></a>
			<a class="" href="https://www.upwork.com/freelancers/~01811f6c6cf1a25ebb?viewMode=1&s=1110580755107926016"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878318/portfolio/upwork_vfhoc6.png" class="mb-3" style="max-height: 4rem;margin-right: 1.5rem;opacity: 0.7"></img></a>
			<a class="" href="https://www.tfrrs.org/athletes/5994381/Amherst/Spencer_Ferguson-Dryden.html"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597950385/portfolio/ncaa_hzwvnu.png" class="mb-3" style="max-height: 3.5rem"></img></a>
		</div>
	</div>
</section>