<!-- Awards-->
<section class="resume-section" id="awards">
	<div class="resume-section-content">
		<h2 class="mb-5">Extracurriculars & Awards</h2>
		<div class="subheading mb-3">Academic</div>
		<ul class="fa-ul mb-5">
			<li class="row mb-3">
				<div class="col-md-8 flex-grow-1">
					<span class="fa-li"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599014621/portfolio/amherst_j7ihds.png" style="max-height: 3rem" class="rounded-circle m-sm-n1"></img></span>
					<span class="font-weight-bold d-block pl-2"><a href="https://www.amherst.edu/news/specialevents/commencement/speeches_multimedia/commencement-2020/senior-awards-prizes-2020" style="text-decoration: none">The Densmore Berry Collins Prize in Political Science</a></span>
					<div class="small pl-2">Awarded to the best senior thesis by the Amherst College Department of Political Science</div>
				</div>
				<div class="col-md-4 flex-shrink-0 text-md-right text-primary">May 2020</div>
			</li>
			<li class="row mb-3">
				<div class="col-md-8 flex-grow-1">
					<span class="fa-li"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597950385/portfolio/cosida_wst1hx.png" style="max-height: 3rem" class="mr-3"></img></span>
					<span class="font-weight-bold d-block pl-2"><a href="https://athletics.amherst.edu/news/2020/6/17/6_17_2020_375.aspx" style="text-decoration: none">CoSIDA Academic All-District</a></span>
					<div class="small pl-2">One of three NESCAC student-athletes selected to represent District 1 on the national ballot for the CoSIDA Academic All-American Team</div>
				</div>
				<div class="col-md-4 flex-shrink-0 text-md-right text-primary">June 2020</div>
			</li>
			<li class="row">
				<div class="col-md-8 flex-grow-1">
					<span class="fa-li"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597950385/portfolio/cosida_wst1hx.png" style="max-height: 3rem" class="mr-3"></img></span>
					<span class="font-weight-bold d-block pl-2"><a href="https://en.wikipedia.org/wiki/Academic_All-America" style="text-decoration: none">CoSIDA Academic All-American (3rd Team)</a></span>
					<div class="small pl-2">Selected by a national panel in recognition of outstanding athleteic and academic achievement</div>
				</div>
				<div class="col-md-4 flex-shrink-0 text-md-right text-primary">June 2020</div>
			</li>
		</ul>
		
		<div class="subheading mb-3">Athletic</div>
		<ul class="fa-ul mb-5">
			<li class="row mb-3">
				<div class="col-md-8 flex-grow-1">
					<span class="fa-li"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597786478/portfolio/ncaa_track_it6b0c.png" style="max-height: 3rem" class="mr-3"></img></span>
					<span class="font-weight-bold d-block pl-2"><a href="http://athletics.amherst.edu/sports/mtrack/index" style="text-decoration: none">Amherst College Varsity Track & Field</a></span>
					<div class="small pl-2 mb-3">As captain, advised the coaches on mid-distance training plans and led practices in the absence of coaches. Contributed to a national podium relay finish at the 2019 NCAA DIII Indoor National Championships.</div>
					<ul class="fa-ul mb-5">
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 All-American</span>
								<div style="font-size: x-small">National qualifier, Distance Medley Relay</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">March 2020</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 All-American</span>
								<div style="font-size: x-small">4th place finish in the Distance Medley Relay (2019)</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">March 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 New England All-Region</span>
								<div style="font-size: x-small">New England 1500m Champion</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">May 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 New England All-Region</span>
								<div style="font-size: x-small">New England  Indoor Mile Honorable Mention</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">February 2020</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">All-NESCAC</span>
								<div style="font-size: x-small">5k Runner-up and 1500m Honorable Mention</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">April 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 All-Academic (4x)</span>
								<div style="font-size: x-small">National qualifier with a GPA of at least 3.30/4.00</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">2018, 2019 & 2020</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NESCAC All-Academic (6x)</span>
								<div style="font-size: x-small">NESCAC student-athlete with a GPA of at least 3.50/4.00</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">2018, 2019 & 2020</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4 flex-shrink-0 text-md-right text-primary">December 2016 - March 2020</div>
			</li>
			
			<li class="row">
				<div class="col-md-8 flex-grow-1">
					<span class="fa-li"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597786510/portfolio/ncaa_xc_hacoik.png" style="max-height: 3rem" class="mr-3"></img></span>
					<span class="font-weight-bold d-block pl-2"><a href="http://athletics.amherst.edu/sports/mxc/index" style="text-decoration: none">Amherst College Varsity Cross Country</a></span>
					<div class="small pl-2 mb-3">As captain, established and enforced clear teamwide cultural, academic, and athletic goals, led the organization and planning of team events, served as point-of-contact for incoming first years, and assisted coaches with training plans and logistics. Contributed to a program-first podium finish at the 2017 NCAA DIII National Championships, a New England Region Championship title, two NESCAC Championship titles, and two NESCAC runner-up titles</div>
					<ul class="fa-ul">
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 All-New England</span>
								<div style="font-size: x-small">11th place finisher at the NCAA D3 New England XC Championship</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">November 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">2nd Team All-NESCAC</span>
								<div style="font-size: x-small">14th place finisher at the NESCAC XC Championship</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">October 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">Amherst College Team MVP</span>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">November 2019</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NCAA D3 All-Academic (2x)</span>
								<div style="font-size: x-small">National qualifier with a GPA of at least 3.30/4.00</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">2018 & 2020</div>
						</li>
						<li class="row mb-3">
							<div class="col-md-8 flex-grow-1">
								<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
								<span class="font-weight-bold" style="font-size: smaller">NESCAC All-Academic (3x)</span>
								<div style="font-size: x-small">NESCAC student-athlete with a GPA of at least 3.50/4.00</div>
							</div>
							<div class="col-md-4 flex-shrink-0 text-md-right text-primary small">2018, 2019 & 2020</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4 flex-shrink-0 text-md-right text-primary">August 2016 - November 2019</div>
			</li>
		</ul>
		
	</div>
</section>