<!-- Experience-->
<section class="resume-section" id="experience">
	<div class="resume-section-content">
		<h2 class="mb-5">Experience</h2>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Full Stack Web Developer</h3>
				<div class="subheading mb-3">
					Self-employed
				</div>
				<p>Freelance software development with a focus on elegant, secure, scalable and affordable websites and web apps for individuals and small businesses</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">July 2020 - Present</span></div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Conflict and Stabilization Advisor Internship</h3>
				<div class="subheading mb-3">
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597950386/portfolio/usdos_puobam.png" style="max-width: 3rem" class="rounded-circle shadow mr-2" alt="USDOS seal"/>
					U.S. Department of State
				</div>
				<p>Researched and presented subnational ethno-religious conflict in Myanmar to U.S. policymakers using open source research and data visualization techniques</p>
				<p>Represented the bureau at Departmental, think tank, and NGO meetings and shared main takeaways with colleagues</p>
				<p>Researched evolving great power relations in the Asia-Pacific region to help policymakers construct new strategies for great power competition </p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">June 2019 - August 2019</span></div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Research Assistant</h3>
				<div class="subheading mb-3">
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599014621/portfolio/amherst_j7ihds.png" style="max-width: 3rem" class="rounded-circle shadow mr-2" alt="Amherst College seal"/>
					Amherst College Department of Political Science
				</div>
				<p>Led a small team of students to examine the shifting international, regional, national and local security environments in Latin America with a Professor of International Relations</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">September 2018 - January 2019</span></div>
		</div>
	</div>
</section>