<!-- Interests-->
<section class="resume-section" id="interests">
	<div class="resume-section-content">
		<h2 class="mb-5">Interests</h2>
		<p>Apart from web development and pursuing my master's degree, I spend much of my time running, for fun and for competition. At home in California, I'm also an avid skiier and I enjoy spending time at the beach when it's not too foggy.</p>
		<p class="mb-0">Indoors, I'm a big fan of sci-fi films. I also love playing board games, Wii games, cooking/baking, and reading about current events.</p>
	</div>
</section>