<section class="resume-section" id="portfolio">
	<div class="resume-section-content">
		<h2 class="mb-5">Portfolio</h2>
		
		<div class="subheading mb-3">Research</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col-lg-6 my-3">
				<div class="card bg-white border-primary text-center shadow">
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597866139/portfolio/thesis_word_cloud_mshuua.png" class="card-img-top embed-responsive p-1" alt="Thesis">
					<div class="card-body">
						<h4 class="card-title">Tweeting Rebellion:</h4>
						<h6 class="card-subtitle mb-3">How Social Media Intensifies Insurgent Conflicts</h6>
						<p class="card-text">Senior honors thesis explaining the link between insurgencies, strategy, violence, and social media.</p>
						<a href="thesis" class="btn btn-primary shadow-sm">Details</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="subheading mb-3">Web Development</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="row justify-content-between">
				<div class="col-lg-6 my-3">
					<div class="card bg-white border-primary text-center shadow">
						<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597868250/portfolio/runcrunch/project_view_caznqg.png" class="card-img-top embed-responsive p-1" alt="Thesis">
						<div class="card-body">
							<h4 class="card-title">RunCrunch</h4>
							<p class="card-text">RunCrunch is a free running log, performance analysis tool, and visualizer. RunCrunch was created with the goal of providing free and powerful visuals beyond the scope of typical fitness services, while keeping your fitness data easily accessible in an intuitive, interactive user interface.</p>
							<a href="runcrunch" class="btn btn-primary shadow-sm mr-1">Details</a>
							<a href="https://www.run-crunch.com/" class="btn btn-outline-primary shadow-sm ml-1"><i class="fas fa-external-link-alt mr-2"></i>View</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 my-3">
					<div class="card bg-white border-primary text-center shadow">
						<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597868397/portfolio/tickr/cover_d6g23z.png" class="card-img-top embed-responsive p-1" alt="Thesis">
						<div class="card-body">
							<h4 class="card-title">Tickr</h4>
							<p class="card-text">Tickr is the first ever provider of daily and weekly stock-based fantasy competitions! Pick your stocks for the day in a head-to-head matchup, or in a pooled matchup for the week, and compete to earn the most points!</p>
							<a href="tickr" class="btn btn-primary shadow-sm mr-1">Details</a>
							<a href="https://www.tickrweb.com/" class="btn btn-outline-primary shadow-sm ml-1"><i class="fas fa-external-link-alt mr-2"></i>View</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 my-3">
					<div class="card bg-white border-primary text-center shadow">
						<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597868567/portfolio/cosmo/gallery1_oi1tta.png" class="card-img-top embed-responsive p-1" alt="Thesis">
						<div class="card-body">
							<h4 class="card-title">Against the Grain: Hawaii</h4>
							<p class="card-text">A sleek and minimalist gallery/eCommerce site for a Hawaii-based artist.</p>
							<a href="againstthegrainhawaii" class="btn btn-primary shadow-sm mr-1">Details</a>
							<a href="https://againstthegrainhawaii.herokuapp.com/" class="btn btn-outline-primary shadow-sm m-1"><i class="fas fa-external-link-alt mr-2"></i>View</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>