<!-- Skills-->
<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mb-5">Skills</h2>
		<div class="subheading mb-3">Programming Languages & Tools</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597782032/portfolio/python_lduo0v.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">Python</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Developed a range of image steganography and The Sleuth Kit/Autopsy computer forensic tools</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597782195/portfolio/django_zvfclx.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">Django</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Full stack web development, see portfolio for details</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1">
					<img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img>
					<img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/180px-HTML5_logo_and_wordmark.svg.png" style="max-height: 3rem" class="mr-2"></img>
					<img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/180px-CSS3_logo_and_wordmark.svg.png" style="max-height: 3rem" class="mr-2"></img>
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597782902/portfolio/javascript_objsle.png" style="max-height: 3rem" class="mr-2"></img>
					<span class="text-primary">Bootstrap/HTML/CSS/JS</span>
					</div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Frontend development, see portfolio for details</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">PostgreSQL</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Database design, architecture, and management for full stack web development and college coursework</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/724px-R_logo.svg.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">R</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Statistical analysis and data visualization for college coursework and my senior honors thesis</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597783508/portfolio/c_ovyqke.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">C</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Built a memory management unit and heap allocator/deallocator for my Computer Systems class</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1">
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597783753/portfolio/bash_pctjvo.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img>
					<img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597783940/portfolio/x86_dusemq.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img>
					<span class="text-primary">Unix/Bash/x86 Assembly</span>
				</div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Security analysis and ethical hacking</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597784283/portfolio/pixar_rjwnju.jpg" style="min-height: 3rem; max-height: 3rem" class="rounded-pill mr-2"></img><span class="text-primary">Pixar Renderman</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Created computer generated imagery with Renderman Shading Language & Java as college coursework</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		
		<div class="subheading mb-3">Other Skills</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597784857/portfolio/zhongwen_xpjsa0.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">Chinese (Mandarin)</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Passed the AP Chinese Language & Culture Exam in 2016 </p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/UN_emblem_blue.svg/566px-UN_emblem_blue.svg.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">Foreign Policy Analysis</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Fluent in qualitative and quantitative analysis/decision-making best practices for foreign policy</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between">
			<div class="col flex-grow-1 my-3">
				<div class="subheading mb-1"><img alt="icon" src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1597785068/portfolio/research_b13ie6.png" style="min-height: 3rem; max-height: 3rem" class="mr-2"></img><span class="text-primary">Writing/Research</span></div>
				<p class="small my-2" style="min-height: 3rem; max-height: 3rem">Fluent in quantitative and qualitative research/writing methods for social sciences</p>
				<div class="progress shadow">
					<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col flex-grow-1 my-3" />
		</div>
		
	</div>
</section>