{% extends 'base.html' %}

{% block body %}
	{% include '_partials/navbar.html' with page='home' %}
	{% include '_partials/hire_me.html' %}
{% endblock %}

{% block content %}
	{% include '_partials/about.html' %}
	<hr class="m-0" />
	{% include '_partials/education.html' %}
	<hr class="m-0" />
	{% include '_partials/experience.html' %}
	<hr class="m-0" />
	{% include '_partials/portfolio.html' %}
	<hr class="m-0" />
	{% include '_partials/skills.html' %}
	<hr class="m-0" />
	{% include '_partials/awards.html' %}
	<hr class="m-0" />
	{% include '_partials/interests.html' %}
	<hr class="m-0" />
	{% include '_partials/contact.html' %}
{% endblock %}