{% extends 'base.html' %}

{% block body %}
	{% include '_partials/navbar.html' with page='detail' %}
{% endblock %}

{% block content %}
<div class="container mt-3 pl-4">
	<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
		<ol class="carousel-indicators rounded-pill" style="background-color: #00000045">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599018629/portfolio/movieengine/desktop_home_page-min_oge64j.png" class="d-block w-100" style="max-height: 32.5rem; object-fit: contain">
			</div>
			<div class="carousel-item">
				<img src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599018626/portfolio/movieengine/mobile_home_page-min_hdouyz.png" class="d-block w-100 embed-responsive" alt="..." style="max-height: 32.5rem; object-fit: contain">
			</div>
			<div class="carousel-item">
				<img src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599018627/portfolio/movieengine/success-min_cknuco.png" class="d-block w-100" alt="..." style="max-height: 32.5rem; object-fit: contain">
			</div>
			<div class="carousel-item">
				<img src="https://res.cloudinary.com/djfs2vi8d/image/upload/v1599018627/portfolio/movieengine/no_results-min_n5mwiy.png" class="d-block w-100" alt="..." style="max-height: 32.5rem; object-fit: contain">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
		<div class="flex-grow-1">
			<h2 class="text-center mb-0">Movie Engine</h2>
			<div class="row justify-content-center">
				<a href="https://movieengine.org/" class="text-center btn btn-primary shadow ml-1"><i class="fas fa-external-link-alt mr-2"></i>View</a>
			</div>
		</div>
	</div>
	
	<p class="mx-3">My client's goal for Move Engine was a simple web application to determine if two actors have worked together in a movie or TV show. The client desired a <b>fast and device-responsive site with minimal costs.</b></p>
	<p class="mx-3 mb-5">I built the site in <b>four days</b>. The result was a fast, reliable, smoothly functioning site with modern visuals and a readable layout. The best part? <b>the deliverable had zero recurring server costs</b>.</p>
	
	<!--
	<div class="subheading text-center mb-3">Client Testimonial</div>
	<blockquote class="blockquote text-center">
		<p class="mb-0">Spencer did great work developing a fully functioning, competitive site. He did everything that was asked in a timely, professional manner and was incredibly flexible with adding new features at any moment. His communication was also expedient and professional, and I would have no reservations about working with him again in the future.</p>
		<footer class="blockquote-footer">Tickr Founders <cite title="Source Title"><a href="https://www.upwork.com/freelancers/~01811f6c6cf1a25ebb?viewMode=1">(Upwork Contract Feedback)</a></cite></footer>
	</blockquote> -->
	
</div>
{% endblock %}