<!-- About-->
{% load static %}
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">
			Spencer
			<span class="text-primary">Ferguson-Dryden</span>
		</h1>
		<div class="subheading mb-5">
			Boulder, CO · (415) 926-0150 ·
			<a href="mailto:sfergusond@email.com">sfergusond@gmail.com</a>
		</div>
		<p class="lead mb-5">Data scientist, programmer, and runner based in Boulder, Colorado.</p>

		<div class="social-icons text-center">
			<a class="social-icon" href="https://www.linkedin.com/in/spencer-ferguson-dryden-00319b128"><i class="fab fa-linkedin-in"></i></a>
			<a class="social-icon" href="https://github.com/sfergusond"><i class="fab fa-github"></i></a>
			<a class="" href="https://www.upwork.com/freelancers/~01811f6c6cf1a25ebb?viewMode=1&s=1110580755107926016">
        <img 
          alt="icon"
          src="{% static 'img/icon/upwork.png' %}"
          class="mb-3"
          style="max-height: 4rem;margin-right: 1.5rem;opacity: 0.7"
        ></img>
      </a>
			<a class="" href="https://worldathletics.org/athletes/united-states/spencer-ferguson-dryden-14797218">
        <img 
          alt="icon" 
          src="{% static 'img/icon/world_athletics.jpg' %}" 
          class="mb-3" 
          style="max-height: 3.5rem; border-radius: 50%"
        ></img>
      </a>
		</div>
	</div>
</section>