<!-- Education-->
{% load static %}
<section class="resume-section" id="education">
	<div class="resume-section-content">
		<h2 class="mb-5">Education</h2>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">
          <img 
            alt="icon"
            src="{% static 'img/icon/uchicago.png' %}"
            style="max-height: 4rem"
            class="mr-3"
          >
          University of Chicago
        </h3>
				<div class="subheading mb-1">Master of Arts</div>
				<div class="h4 mb-3">International Relations - Committee on International Relations</div>
				<p>GPA: <span class="font-weight-bold">3.82</span>/4.00</p>
				<p>Thesis: Geospatial Trends in Defense Spending in Response to Globalization</p>
				<p>
          Relevant Coursework: 
          Large-scale Computing for Social Sciences, 
          Spatial Data Analysis, 
          Nuclear Policy, 
          Conflict: Root Causes, Consequences, and Solutions for the Future, 
          Unsupervised Machine Learning, 
          Democracy Hacked: Cyber Threats to Modern Governments in the Digital Age
        <p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">September 2020 - June 2021</span></div>
		</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between">
			<div class="flex-grow-1">
				<h3 class="mb-0">
          <img
            alt="icon"
            src="{% static 'img/icon/amherst.png' %}"
            style="max-height: 4rem"
            class="rounded-circle shadow mr-3"
          >
          Amherst College
        </h3>
				<div class="subheading mb-1">Bachelor of Arts | <span class="text-primary">Summa Cum Laude</span></div>
				<p class="h4 mb-3">Political Science & Computer Science</p>
				<p>GPA: <span class="font-weight-bold">3.91</span>/4.00</p>
				<p>Honors Thesis: "Tweeting Rebellion: How Social Media Intensifies Insurgent Conflicts"</p>
				<p>
          Relevant Coursework: 
          Technology & State Power, 
          Cyberpolitics, 
          Strategy & the Art of War, 
          Foreign Policy Analysis, 
          Computer Systems, 
          Computer Security, 
          Digital Forensics, 
          Algorithms, 
          Data Structures, 
          Databases
        </p>
				<p>Extracurriculars: Cross Country (2019 Captain), Track & Field (2020 co-Captain)</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">September 2016 - May 2020</span></div>
		</div>
	</div>
</section>