<!-- Experience-->
<section class="resume-section" id="experience">
	<div class="resume-section-content">
		<h2 class="mb-5">Experience</h2>
		
    {% include 'components/experience.html' with title='Software Engineer - Consultant' src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1642186314/portfolio/booz_pyfjsh.png' date='January 2022 - Present' %}

    {% include 'components/experience.html' with title='Applied Data Science Fellow' src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1635950143/portfolio/macfound_aour64.png' org='MacArthur Foundation - Lever for Change' date='May 2021 - Present' %}
    <div class="col-10 mb-4">
      <p>Won a fellowship from the University of Chicago to complete a data science project for a social impact oriented organization</p>
      <p>My project at the MacArthur Foundation/Lever for Change leverages big data, natural language processing (NLP), text mining, machine learning, and data modelling techniques to streamline the decision-making process in philanthropic prize competitions</p>
      <p>The project aims to increase the social impact of $1 billion in annual prize money awarded by MacArthur, and share the results with other philanthropic & non-profit organizations to assist their proposal writing and prize allocation efforts</p>
    </div>
		
    {% include 'components/experience.html' with title='Full Stack Web Developer' org='Self-employed' date='July 2020 - September 2021' %}
    <div class="col-10 mb-4">
      <p>Designed & built over 6 distinct web applications for a range of clients. See <a class="js-scroll-trigger" href="#portfolio">portfolio</a> for a detailed project list</p>
      <p>Delivered secure & scalable solutions at minimal cost using best-practices in database architecting, data engineering & ETL, REST API, cloud computing services, and server-side programming</p>
      <p>Project highlight: A marketplace and analytic platform for podcasters to sell advertisement slots to relevant brands</p>
    </div>
		
    {% include 'components/experience.html' with title='Conflict and Stabilization Advisor Intern' src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597950386/portfolio/usdos_puobam.png' org='U.S. Department of State' date='June 2019 - August 2019' %}
		<div class="col-10 mb-4">
      <p>Researched and presented subnational ethno-religious conflict in Myanmar to U.S. policymakers using open source research and data visualization techniques</p>
      <p>Represented the bureau at Departmental, think tank, and NGO meetings and shared main takeaways with colleagues</p>
      <p>Researched evolving great power relations in the Asia-Pacific region to help policymakers construct new strategies for great power competition </p>
    </div>
		
	</div>
</section>