<!-- Experience-->
<section class="resume-section" id="experience">
	<div class="resume-section-content">
		<h2 class="mb-5">Experience</h2>
		
    {% include 'components/experience.html' with 
      title='Software Engineer - Consultant' 
      org='Booz Allen Hamilton, Inc'
      src='img/icon/bah.png' 
      date='January 2022 - Present' 
    %}
    <div class="col-10 mb-4">
      <p>Led development across multiple applications in support of a multi-million dollar federal contract</p>
      <p>Developed custom PHP modules for a high-traffic Drupal-based CMS site critical for U.S. employers to maintain Equal Opportunity certification</p>
      <p>Developed a front end React library using Storybook.js to streamline the implementation of front end components across multiple federal web applications</p>
      <p>Built a Node.js service to handle high-concurrency file upload tasks</p>
      <p>Performed ad hoc data extraction requests, built pipelines to handle bulk data upload & cleaning tasks, and advised the client on application architecting</p>
    </div>

    {% include 'components/experience.html' with 
      title='Applied Data Science Fellow'
      src='img/icon/macfound.png' 
      org='MacArthur Foundation - Lever for Change' 
      date='October 2021 - October 2022' 
    %}
    <div class="col-10 mb-4">
      <p>Streamlined the decision-making process in philanthropic prize competitions by the MacArthur Foundation/Lever for Change by leveraging big data, natural language processing (NLP), text mining, machine learning, and data modelling techniques.</p>
      <p>Built data processing tools to help unlock the social impact of $1 billion in annual prize money awarded by Lever for Change</p>
      <p>
        Developed an innovative score adjustment process for grant competitions using a blend of statistical, NLP, and machine learning approaches.
        The score adjustment process removes bias from expert judge reviews and increases the odds of maximizing the social impact of winning grant proposals.
      </p>
      <p>
        Relevant GitHub repos:
        <a href="https://github.com/LeverForChange/proposal-similarity-pipeline" target="_blank">Grant Proposal Clustering Model Pipeline</a>,
        <a href="https://github.com/LeverForChange/proposal-landscape" target="_blank">Grant Proposal Landscape Application</a>,
        <a href="https://github.com/LeverForChange/competition-scoring-pipeline" target="_blank">Grant Competition Scoring Pipeline</a>,
      </p>
    </div>
		
    {% include 'components/experience.html' with 
      title='Full Stack Web Developer' 
      org='Self-employed' 
      date='July 2020 - September 2021' 
    %}
    <div class="col-10 mb-4">
      <p>Designed & built over 6 distinct web applications for a range of clients. See <a class="js-scroll-trigger" href="#portfolio">portfolio</a> for a detailed project list</p>
      <p>Delivered secure & scalable solutions at minimal cost using best-practices in database architecting, data engineering & ETL, REST API, cloud computing services, and server-side programming</p>
      <p>Project highlight: A marketplace and analytic platform for podcasters to sell advertisement slots to relevant brands</p>
    </div>
		
    {% include 'components/experience.html' with 
      title='Conflict and Stabilization Advisor Intern' 
      src='img/icon/usdos.png' 
      org='U.S. Department of State' 
      date='June 2019 - August 2019' 
    %}
		<div class="col-10 mb-4">
      <p>Researched and presented subnational ethno-religious conflict in Myanmar to U.S. policymakers using open source research and data visualization techniques</p>
      <p>Represented the bureau at Departmental, think tank, and NGO meetings and shared main takeaways with colleagues</p>
      <p>Researched evolving great power relations in the Asia-Pacific region to help policymakers construct new strategies for great power competition </p>
    </div>
		
	</div>
</section>