<section class="resume-section" id="portfolio">
	<div class="resume-section-content">
		<h2 class="mb-5">Portfolio</h2>

    <div class="subheading mb-3">Professional</div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="row justify-content-between">

        <div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/runcrunch/runcrunch_splash.png' 
            title='RunCrunch' 
            description='RunCrunch is a free running log, performance analysis tool, and visualizer' 
            link='runcrunch' 
            externalLink='https://www.run-crunch.com/' 
          %}
				</div>

        <div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/lfc_landscape/lfc_landscape_splash.png' 
            title='Lever for Change Grant Proposal Landscape' 
            description="A visualizer and exploration tool for Lever for Change's database of grant proposals"
            link='lfc_landscape' 
            externalLink='https://lfc-landscape.herokuapp.com/' 
          %}
				</div>

        <div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/againstthegrainhawaii/atgh_splash.png' 
            title='Against the Grain: Hawaii' 
            description='A sleek and minimalist gallery/eCommerce site for a Hawaii-based artist.' 
            link='againstthegrainhawaii' 
            externalLink='https://againstthegrainhawaii.herokuapp.com/' 
          %}
				</div>

				<div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/slice/slice_splash.png' 
            title='Slice.fm' 
            description='Slice.fm is a global, peer-to-peer marketplace for podcasters to sell ad slots in their podcasts to advertisers.' 
            link='slice' 
            externalLink='https://slice.fm/' 
          %}
				</div>
				
				<div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/movieengine/me_splash.png' 
            title='Movie Engine' 
            description='Want to know if two actors have worked together? Enter their names and find out if they starred in a movie or TV show with each other.' 
            link='movieengine' 
            externalLink='https://movieengine.org/' 
          %}
				</div>
        
			</div>
		</div>
		
		<div class="subheading mb-3">Academic</div>
		
    <div class="d-flex flex-column flex-md-row justify-content-center mb-5">
      <div class="col-lg-6 my-3">
        {% include 'components/portfolioCard.html' with 
          src='img/ma_thesis/ma_thesis_splash.png' 
          title='Does FDI Matter?' 
          subtitle='Assessing How Foreign Direct Investment Impacts the Geography of Defense Spending' 
          description='Masters thesis explaining the link between foriegn direct investment and the geographic pattern of national defense expenditure.' 
          link='ma_thesis' 
        %}
      </div>
    </div>
		
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="row justify-content-between">
				<div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/election_vulnerabilities/ev_splash.png' 
            title='Uncovering Election Vulnerabilities' 
            description='A spatial &#38; machine learning approach to analyzing election concerns in the US.' 
            link='election_vulnerabilities' 
          %}
				</div>
			
				<div class="col-lg-6 my-3">
          {% include 'components/portfolioCard.html' with 
            src='img/thesis/thesis_splash.png' 
            title='Tweeting Rebellion:' subtitle='How Social Media Intensifies Insurgent Conflicts' 
            description='Senior honors thesis explaining the link between insurgencies, strategy, violence, and social media.' 
            link='thesis' 
          %}
				</div>
			</div>
		</div>
	</div>
</section>