<!-- Skills-->
<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mb-5">Skills</h2>
		<div class="subheading mb-3">Programming Languages & Tools</div>
		
		<div class="row mb-5">
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/python.png' 
          title='Python' 
          description='Applied use in academic assignments and research, personal projects, and commercial full stack development projects' 
          pct='100' 
        %}
			</div>
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/django.png' 
          title='Django' 
          description='Full stack web development, see portfolio for details' 
          pct='100' 
        %}
			</div>

      <div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/javascript.png' 
          title='Javascript' 
          description='Full stack web development using Node.js and React.js' 
          pct='100' 
        %}
			</div>

      <div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/drupal.png' 
          title='Drupal' 
          description='Drupal application development, architecture, and management' 
          pct='80' 
        %}
			</div>

      <div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/php.png' 
          title='PHP' 
          description='Custom module & API development with Drupal based applications' 
          pct='80'
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/aws.png' 
          title='Big Data & Cloud Computing' 
          description='Experienced in the AWS ecosystem (EC2, S3, Lambda, EMR, IAM, RDS, etc), Spark, Google Cloud, and distributed computing' 
          pct='75' 
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/html.png' 
          title='Bootstrap/HTML/CSS' 
          description='Frontend development, see portfolio for details' 
          pct='70' 
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/sql.png' 
          title='SQL' 
          description='Database design, architecture, and management for full stack web development' 
          pct='75' 
        %}
			</div>

      <div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/plotly.webp' 
          title='Plotly/Dash' 
          description='Data analysis dashboard engineering' 
          pct='75' 
        %}
			</div>

      <div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/scikit.png' 
          title='Machine Learning' 
          description='Data analysis, model tuning, pipeline engineering, and ETL processing with scikit-learn, AWS, and R' 
          pct='65' 
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/r.png' 
          title='R' 
          description='Statistical analysis, data wrangling, and machine learning applications' 
          pct='50' 
        %}
			</div>
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/c.png' 
          title='C' 
          description='Built a memory management unit and heap allocator/deallocator for my Computer Systems class' 
          pct='30' 
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/bash.png' 
          title='Unix/Bash/x86 Assembly' 
          description='Security analysis, ethical hacking, and server scripting' 
          pct='45' 
        %}
			</div>

			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/pixar.jpg' 
          title='Pixar Renderman' 
          description='Created computer generated imagery with Renderman Shading Language & Java as college coursework' 
          pct='25' 
        %}
			</div>
		</div>
		
		<div class="subheading mb-3">Other Skills</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/chinese.png' 
          title='Chinese (Mandarin)' 
          description='Passed the AP Chinese Language & Culture Exam in 2016' 
          pct='30' 
        %}
			</div>
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/un.png' 
          title='Foreign Policy Analysis' 
          description='Fluent in qualitative and quantitative analysis/decision-making best practices for foreign policy' 
          pct='100' 
        %}
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between">
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/research.png' 
          title='Writing/Research' 
          description='Experienced in quantitative and qualitative research/writing methods for social sciences' 
          pct='100' 
        %}
			</div>
			<div class="col-sm-6 flex-grow-1 my-3">
        {% include 'components/skill.html' with 
          src='img/icon/geoda.png' 
          title='Geospatial Analysis' 
          description='Proficient in using GeoDa to answer questions about location based data' 
          pct='75' 
        %}
			</div>	
		</div>
</section>