{% extends 'base.html' %}

{% block body %}
	{% include 'components/navbar.html' with page='detail' %}
{% endblock %}

{% block content %}
<div class="container mt-3 pl-4">
	<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
		{% include 'components/carouselIndicators.html' with n='11' %}
		<div class="carousel-inner">
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878772/portfolio/cosmo/gallery1_psnsqj.png' 
        active=1 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878790/portfolio/cosmo/gallery4_if8nck.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878780/portfolio/cosmo/gallery3_pdlugy.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597879074/portfolio/cosmo/gallery2_txj7am.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878756/portfolio/cosmo/detial1_oa1vcc.png'
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878711/portfolio/cosmo/detail2_a481p8.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878927/portfolio/cosmo/store1_ql56vj.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878626/portfolio/cosmo/contact_ad0ugg.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878667/portfolio/cosmo/portal1_ku7sac.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878715/portfolio/cosmo/portal-new_a90vvc.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597878711/portfolio/cosmo/portal-edit_jwyiaz.png' 
      %}
		</div>
    {% include 'components/carouselArrows.html' %}
	</div>

  {% include 'components/projectDetailHeader.html' with 
    title='Against the Grain Hawaii' 
    link='https://againstthegrainhawaii.herokuapp.com/' 
  %}
	
	<p class="mx-3">A sleek a minimalist gallery/eCommerce site for a Hawaii-based artist. Contains the following:</p>
	<ul class="list">
		<li>Home (splash) screen</li>
		<li>About page</li>
		<li>Contact page with email integration</li>
		<li>Gallery/product browsing page, with a search/filter/sort function and detail/grid viewing modes</li>
		<li>Item detail pages with photo carousels, product descriptions, and a "Buy" button</li>
		<li>Payment screen with Stripe integration. Takes shipping/billing addresses, customer name/email, and payment information. Automatically captures payments (or redirects to an error page if unsuccessful) and send receipts to the site owner and customer</li>
		<li>Admin portal to view, edit, and create products</li>
	</ul>
	
</div>
{% endblock %}