{% extends 'base.html' %}

{% block body %}
	{% include 'components/navbar.html' with page='detail' %}
{% endblock %}

{% block content %}
<div class="container mt-3 pl-4">
	<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
		{% include 'components/carouselIndicators.html' with n='3' %}
		<div class="carousel-inner">
      {% include 'components/carouselItem.html' with 
        src='img/election_vulnerabilities/ev_splash.png' 
        active=1 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/election_vulnerabilities/ev_1.png' 
      %}
      {% include 'components/carouselItem.html' with 
        src='img/election_vulnerabilities/ev_2.png' 
      %}
		</div>
		{% include 'components/carouselArrows.html' %}
	</div>

  {% include 'components/projectDetailHeader.html' with 
    title='Uncovering Election Vulnerabilities' 
    subtitle='A spatial &#38; machine learning approach to analyzing election concerns in the US.' 
    link='https://drive.google.com/file/d/1PMIIR3AbqV6EYqz3qHXnzwEnZ_qivNAC/view?usp=sharing' 
  %}
		
</div>
{% endblock %}