{% extends 'base.html' %}

{% block body %}
	{% include 'components/navbar.html' with page='home' %}
	{% include 'sections/hire_me.html' %}
{% endblock %}

{% block content %}
	{% include 'sections/about.html' %}
	<hr class="m-0" />
	{% include 'sections/education.html' %}
	<hr class="m-0" />
	{% include 'sections/experience.html' %}
	<hr class="m-0" />
	{% include 'sections/portfolio.html' %}
	<hr class="m-0" />
	{% include 'sections/certifications.html' %}
	<hr class="m-0" />
	{% include 'sections/skills.html' %}
	<hr class="m-0" />
	{% include 'sections/awards.html' %}
	<hr class="m-0" />
	{% include 'sections/contact.html' %}
{% endblock %}