{% extends 'base.html' %}

{% block body %}
	{% include 'components/navbar.html' with page='detail' %}
{% endblock %}

{% block content %}
<div class="container mt-3 pl-4">
	<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
		{% include 'components/carouselIndicators.html' with n='11' %}
		<div class="carousel-inner">
      {% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_splash.png' 
        active=1 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_1.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_2.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_3.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_4.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_5.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_6.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_7.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_8.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_9.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='img/runcrunch/runcrunch_10.png' 
      %}
		</div>
		{% include 'components/carouselArrows.html' %}
	</div>

  {% include 'components/projectDetailHeader.html' with 
    title='RunCrunch'
    link='https://www.run-crunch.com/' 
  %}
	
	<p class="mx-3">
    <b>I asked myself, how could I could I combine two of my passions - running and programming - into a useful, marketable product?</b>
    <br><br>
    The solution was RunCrunch, a free, fully interactive, and no-frills running website 
    designed to assist athletes glean the most valuable insights about their training.
  </p>
	<p class="mx-3">
    RunCrunch rests on displaying running data in a beautiful and interactive format. 
    On the backend, a PostgreSQL database houses all account and athletic data, 
    while API integrations with Strava, Meteostat, and Stripe ensure a smooth flow of data into and out of RunCrunch. 
    The site is deployed on Heroku, which allows for easy vertical and horizontal scaling of the application.
    <br><br>
    On the frontend, Python's Plotly/Plotly Dash power beautiful visuals and Bootstrap/HTML5 flesh out the rest of the site.
    <br><br>The result is a seamless and fast integration from daily runs to powerful insights.
  </p>
	
</div>
{% endblock %}