{% extends 'base.html' %}

{% block body %}
	{% include 'components/navbar.html' with page='detail' %}
{% endblock %}

{% block content %}
<div class="container mt-3 pl-4">
	<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
		{% include 'components/carouselIndicators.html' with n='14' %}
		<div class="carousel-inner">
      {% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876216/portfolio/runcrunch/detail1_flc8hg.png' 
        active=1 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876260/portfolio/runcrunch/detail2_yolge5.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876216/portfolio/runcrunch/detail3_aryhel.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876239/portfolio/runcrunch/detail4_lwpcuz.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876215/portfolio/runcrunch/detail5_fix59f.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876218/portfolio/runcrunch/detail6_zwmems.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876230/portfolio/runcrunch/detail7_uemvih.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876223/portfolio/runcrunch/detail8_fvtrr9.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876209/portfolio/runcrunch/dashboard2_meamz7.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876205/portfolio/runcrunch/db3_gx2e1x.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876236/portfolio/runcrunch/trends1_cd2u40.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876240/portfolio/runcrunch/trends2_akl4zs.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876243/portfolio/runcrunch/trends3_xnjgq3.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876241/portfolio/runcrunch/heatmap_big_nxh3uy.png' 
      %}
			{% include 'components/carouselItem.html' with 
        src='https://res.cloudinary.com/djfs2vi8d/image/upload/v1597876260/portfolio/runcrunch/presentation4_lgxfhr.png' 
      %}
		</div>
		{% include 'components/carouselArrows.html' %}
	</div>

  {% include 'components/projectDetailHeader.html' with 
    title='RunCrunch'
    link='https://www.run-crunch.com/' 
  %}
	
	<p class="mx-3">
    <b>I asked myself, how could I could I combine two of my passions - running and programming - into a useful, marketable product?</b>
    <br><br>
    The solution was RunCrunch, a free, fully interactive, and no-frills running website 
    designed to assist athletes glean the most valuable insights about their training.
  </p>
	<p class="mx-3">
    RunCrunch rests on displaying running data in a beautiful and interactive format. 
    On the backend, a PostgreSQL database houses all account and athletic data, 
    while API integrations with Strava, Meteostat, and Stripe ensure a smooth flow of data into and out of RunCrunch. 
    The site is deployed on Heroku, which allows for easy vertical and horizontal scaling of the application.
    <br><br>
    On the frontend, Python's Plotly/Plotly Dash power beautiful visuals and Bootstrap/HTML5 flesh out the rest of the site.
    <br><br>The result is a seamless and fast integration from daily runs to powerful insights.
  </p>
	
</div>
{% endblock %}