<li class="row mb-3">
  <div class="col-md-8 flex-grow-1">
    <span class="fa-li">
      {% if src %}
      <img 
        alt="icon" src="{{ src }}" style="max-height: 3rem" 
        {% if rounded %}
        class="rounded-circle m-sm-n1" 
        {% else %}
        class="mr-3"
        {% endif %}
      />
      {% else %}
      <i class="fas {{ icon }} text-warning"></i>
      {% endif %}
    </span>
    {% if link %}
    <span class="font-weight-bold d-block pl-2">
      <a href="{{ link }}" style="text-decoration: none">{{ title }}</a>
    </span>
    {% else %}
    <span class="font-weight-bold" style="font-size: smaller">{{ title }}</span>
    {% endif %}
    <div class="small pl-2">{{ description }}</div>
  </div>
  <div class="col-md-4 flex-shrink-0 text-md-right text-primary">{{ date }}</div>
</li>