{% load static %}

<div class="d-flex flex-column flex-md-row justify-content-between mb-1">
  <div class="flex-grow-1">
    <h3 class="mb-0">{{ title }}</h3>
    <div class="subheading mb-3">
      {% if src %}
      <img 
        alt="icon" 
        src="{% static src %}" 
        style="max-width: 5rem; max-height: 2.5rem;" 
        class="mr-2" 
      />
      {% endif %}
      {{ org }}
    </div>
  </div>
  <div class="flex-shrink-0">
    <span class="text-primary">{{ date }}</span>
  </div>
</div>